<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet"  href="/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
        <h1>The Tech Blog</h1>
    <nav>
        {{#if loggedIn}}
        <a href="/">Home</a>
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/">Home</a>
        <a href="/dashboard">dashboard</a>
        <a href="/logout">logout</a>
        <a href="/login">login</a>
        {{/if}}
    </nav>
    </header>
   <main>
      {{{ body }}}
    </main>
     {{!-- <footer>
      Thanks for visiting!
    </footer> --}}
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>