{{> post-info post}}

{{#if loggedIn}}
<form class="blog-form">
  <div>
    <textarea name="blog-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> blog post.blogs}}

{{#if loggedIn}}
<script src="/js/blog-post.js"></script>
{{/if}}    